.card{

  display:inline-grid;
}

#game{
  height: 550px;
  width: 1000px;
  grid-template-columns: 100px 50px 100px;
  grid-template-rows: 80px auto 80px; 
  grid-column-gap: 10px;
  grid-row-gap: 15px;
}
#game:nth-child(5){
  display:inline-grid;
}
.cardimage{
  margin-left:40%;
  margin-top:30%;
  height: 100px;
}
.cardback{
  border:1px solid;
  border-radius: 5px;
  width: 200px;
  height: 250px;
  background-color:lightblue;

}
.cardfront{
  background-color:pink;
  border:1px solid;
  border-radius: 5px;
  width: 200px;
  height: 250px;
}
.name{
  margin-left:30%;
}
.jumbotron{
  padding-left:20px;
}